<h2><%= @book.title %></h2>
<h3><%= @book.author %></h3>
<p><%=  @book.description %></p>

<%= link_to "Back", root_path%>
<%= link_to "Edit", edit_book_path(@book) %>
<%= link_to "Delete", book_path(@book), method: :delete, data: { confirm:" Are you positive?" } %>

<%# This is a comment: These display the title, author, and description in a list. %>
<%# This is a comment: method: :delete refers to the delete route.%>